{
    "Stuns": [
        {
            "Proto": "udp",
            "URI": "stun:$TURN_DOMAIN:3478",
            "Username": "",
            "Password": null
        }
    ],
    "TURNConfig": {
        "Turns": [
            {
                "Proto": "udp",
                "URI": "turn:$TURN_DOMAIN:3478",
                "Username": "$TURN_USER",
                "Password": "$TURN_PASSWORD"
            }
        ],
        "CredentialsTTL": "12h",
        "Secret": "secret",
        "TimeBasedCredentials": false
    },
    "Relay": {
        "Addresses": ["$OPENZRO_RELAY_ENDPOINT"],
        "CredentialsTTL": "24h",
        "Secret": "$OPENZRO_RELAY_AUTH_SECRET"
    },
    "Signal": {
        "Proto": "$OPENZRO_SIGNAL_PROTOCOL",
        "URI": "$OPENZRO_DOMAIN:$OPENZRO_SIGNAL_PORT",
        "Username": "",
        "Password": null
    },
    "ReverseProxy": {
        "TrustedHTTPProxies": [],
        "TrustedHTTPProxiesCount": 0,
        "TrustedPeers": [
             "0.0.0.0/0"
        ]
    },
    "DisableDefaultPolicy": $OPENZRO_MGMT_DISABLE_DEFAULT_POLICY,
    "Datadir": "",
    "DataStoreEncryptionKey": "$OPENZRO_DATASTORE_ENC_KEY",
    "StoreConfig": {
        "Engine": "$OPENZRO_STORE_CONFIG_ENGINE"
    },
    "HttpConfig": {
        "Address": "0.0.0.0:$OPENZRO_MGMT_API_PORT",
        "AuthIssuer": "$OPENZRO_AUTH_AUTHORITY",
        "AuthAudience": "$OPENZRO_AUTH_AUDIENCE",
        "AuthKeysLocation": "$OPENZRO_AUTH_JWT_CERTS",
        "AuthUserIDClaim": "$OPENZRO_AUTH_USER_ID_CLAIM",
        "CertFile":"$OPENZRO_MGMT_API_CERT_FILE",
        "CertKey":"$OPENZRO_MGMT_API_CERT_KEY_FILE",
        "IdpSignKeyRefreshEnabled": $OPENZRO_MGMT_IDP_SIGNKEY_REFRESH,
        "OIDCConfigEndpoint":"$OPENZRO_AUTH_OIDC_CONFIGURATION_ENDPOINT"
    },
    "IdpManagerConfig": {
        "ManagerType": "$OPENZRO_MGMT_IDP",
        "ClientConfig": {
            "Issuer": "$OPENZRO_AUTH_AUTHORITY",
            "TokenEndpoint": "$OPENZRO_AUTH_TOKEN_ENDPOINT",
            "ClientID": "$OPENZRO_IDP_MGMT_CLIENT_ID",
            "ClientSecret": "$OPENZRO_IDP_MGMT_CLIENT_SECRET",
            "GrantType": "client_credentials"
        },
        "ExtraConfig": $OPENZRO_IDP_MGMT_EXTRA_CONFIG,
        "Auth0ClientCredentials": null,
        "AzureClientCredentials": null,
        "KeycloakClientCredentials": null,
        "ZitadelClientCredentials": null
     },
    "DeviceAuthorizationFlow": {
        "Provider": "$OPENZRO_AUTH_DEVICE_AUTH_PROVIDER",
        "ProviderConfig": {
          "Audience": "$OPENZRO_AUTH_DEVICE_AUTH_AUDIENCE",
          "AuthorizationEndpoint": "",
          "Domain": "$OPENZRO_AUTH0_DOMAIN",
          "ClientID": "$OPENZRO_AUTH_DEVICE_AUTH_CLIENT_ID",
          "ClientSecret": "",
          "TokenEndpoint": "$OPENZRO_AUTH_TOKEN_ENDPOINT",
          "DeviceAuthEndpoint": "$OPENZRO_AUTH_DEVICE_AUTH_ENDPOINT",
          "Scope": "$OPENZRO_AUTH_DEVICE_AUTH_SCOPE",
          "UseIDToken": $OPENZRO_AUTH_DEVICE_AUTH_USE_ID_TOKEN,
          "RedirectURLs": null
         }
    },
    "PKCEAuthorizationFlow": {
        "ProviderConfig": {
            "Audience": "$OPENZRO_AUTH_PKCE_AUDIENCE",
            "ClientID": "$OPENZRO_AUTH_CLIENT_ID",
            "ClientSecret": "$OPENZRO_AUTH_CLIENT_SECRET",
            "Domain": "",
            "AuthorizationEndpoint": "$OPENZRO_AUTH_PKCE_AUTHORIZATION_ENDPOINT",
            "TokenEndpoint": "$OPENZRO_AUTH_TOKEN_ENDPOINT",
            "Scope": "$OPENZRO_AUTH_SUPPORTED_SCOPES",
            "RedirectURLs": [$OPENZRO_AUTH_PKCE_REDIRECT_URLS],
            "UseIDToken": $OPENZRO_AUTH_PKCE_USE_ID_TOKEN,
            "DisablePromptLogin": $OPENZRO_AUTH_PKCE_DISABLE_PROMPT_LOGIN,
            "LoginFlag": $OPENZRO_AUTH_PKCE_LOGIN_FLAG
        }
    }
}
