## example file, you can copy this file to setup.env and update its values
##

# Image tags
# you can force specific tags for each component; will be set to latest if empty
OPENZRO_DASHBOARD_TAG=""
OPENZRO_SIGNAL_TAG=""
OPENZRO_MANAGEMENT_TAG=""
COTURN_TAG=""
OPENZRO_RELAY_TAG=""

# Dashboard domain. e.g. app.mydomain.com
OPENZRO_DOMAIN=""

# TURN server domain. e.g. turn.mydomain.com
# if not specified it will assume OPENZRO_DOMAIN
OPENZRO_TURN_DOMAIN=""

# TURN server public IP address
# required for a connection involving peers in
# the same network as the server and external peers
# usually matches the IP for the domain set in OPENZRO_TURN_DOMAIN
OPENZRO_TURN_EXTERNAL_IP=""

# -------------------------------------------
# OIDC
#  e.g., https://example.eu.auth0.com/.well-known/openid-configuration
# -------------------------------------------
OPENZRO_AUTH_OIDC_CONFIGURATION_ENDPOINT=""
# The default setting is to transmit the audience to the IDP during authorization. However,
# if your IDP does not have this capability, you can turn this off by setting it to false.
#OPENZRO_DASH_AUTH_USE_AUDIENCE=false
OPENZRO_AUTH_AUDIENCE=""
# e.g. openzro-client
OPENZRO_AUTH_CLIENT_ID=""
# indicates the scopes that will be requested to the IDP
OPENZRO_AUTH_SUPPORTED_SCOPES=""
# OPENZRO_AUTH_CLIENT_SECRET is required only by Google workspace.
# OPENZRO_AUTH_CLIENT_SECRET=""
# if you want to use a custom claim for the user ID instead of 'sub', set it here
# OPENZRO_AUTH_USER_ID_CLAIM=""
# indicates whether to use Auth0 or not: true or false
OPENZRO_USE_AUTH0="false"
# if your IDP provider doesn't support fragmented URIs, configure custom
# redirect and silent redirect URIs, these will be concatenated into your OPENZRO_DOMAIN domain.
# OPENZRO_AUTH_REDIRECT_URI="/peers"
# OPENZRO_AUTH_SILENT_REDIRECT_URI="/add-peers"
# Updates the preference to use id tokens instead of access token on dashboard
# Okta and Gitlab IDPs can benefit from this
# OPENZRO_TOKEN_SOURCE="idToken"
# -------------------------------------------
# OIDC Device Authorization Flow
# -------------------------------------------
OPENZRO_AUTH_DEVICE_AUTH_PROVIDER="none"
OPENZRO_AUTH_DEVICE_AUTH_CLIENT_ID=""
# Some IDPs requires different audience, scopes and to use id token for device authorization flow
# you can customize here:
OPENZRO_AUTH_DEVICE_AUTH_AUDIENCE=$OPENZRO_AUTH_AUDIENCE
OPENZRO_AUTH_DEVICE_AUTH_SCOPE="openid"
OPENZRO_AUTH_DEVICE_AUTH_USE_ID_TOKEN=false
# -------------------------------------------
# OIDC PKCE Authorization Flow
# -------------------------------------------
# Comma separated port numbers. if already in use, PKCE flow will choose an available port from the list as an alternative
# eg. 53000,54000
OPENZRO_AUTH_PKCE_REDIRECT_URL_PORTS="53000"
# -------------------------------------------
# IDP Management
# -------------------------------------------
# eg. zitadel, auth0, azure, keycloak
OPENZRO_MGMT_IDP="none"
# Some IDPs requires different client id and client secret for management api
OPENZRO_IDP_MGMT_CLIENT_ID=$OPENZRO_AUTH_CLIENT_ID
OPENZRO_IDP_MGMT_CLIENT_SECRET=""
# Required when setting up with Keycloak "https://<YOUR_KEYCLOAK_HOST_AND_PORT>/admin/realms/openzro"
# OPENZRO_IDP_MGMT_EXTRA_ADMIN_ENDPOINT=
# With some IDPs may be needed enabling automatic refresh of signing keys on expire
# OPENZRO_MGMT_IDP_SIGNKEY_REFRESH=false
# OPENZRO_IDP_MGMT_EXTRA_ variables. See https://docs.openzro.io/selfhosted/identity-providers for more information about your IDP of choice.
# -------------------------------------------
# Letsencrypt
# -------------------------------------------
# Disable letsencrypt
#  if disabled, cannot use HTTPS anymore and requires setting up a reverse-proxy to do it instead
OPENZRO_DISABLE_LETSENCRYPT=false
# e.g. hello@mydomain.com
OPENZRO_LETSENCRYPT_EMAIL=""
# -------------------------------------------
# Extra settings
# -------------------------------------------
# Disable anonymous metrics collection, see more information at https://openzro.io/docs/FAQ/metrics-collection
OPENZRO_DISABLE_ANONYMOUS_METRICS=false
# DNS DOMAIN configures the domain name used for peer resolution. By default it is openzro.selfhosted
OPENZRO_MGMT_DNS_DOMAIN=openzro.selfhosted
# Disable default all-to-all policy for new accounts
OPENZRO_MGMT_DISABLE_DEFAULT_POLICY=false
# -------------------------------------------
# Relay settings
# -------------------------------------------
# Relay server domain. e.g. relay.mydomain.com
# if not specified it will assume OPENZRO_DOMAIN
OPENZRO_RELAY_DOMAIN=""

# Relay server connection port. If none is supplied
# it will default to 33080
# should be updated to match TLS-port of reverse proxy when openzro is running behind reverse proxy
OPENZRO_RELAY_PORT=""

# Management API connecting port. If none is supplied
# it will default to 33073
# should be updated to match TLS-port of reverse proxy when openzro is running behind reverse proxy
OPENZRO_MGMT_API_PORT=""

# Signal service connecting port. If none is supplied
# it will default to 10000
# should be updated to match TLS-port of reverse proxy when openzro is running behind reverse proxy
OPENZRO_SIGNAL_PORT=""
