[Unit]
Description=Openzro Client (%i)
Documentation=https://openzro.io/docs
After=network-online.target syslog.target NetworkManager.service
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/openzro
ExecStart=/usr/bin/openzro service run --log-file /var/log/openzro/client-%i.log --daemon-addr unix:///var/run/openzro/%i.sock $FLAGS
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
CacheDirectory=openzro
ConfigurationDirectory=openzro
LogsDirectory=openzro
RuntimeDirectory=openzro
StateDirectory=openzro

# sandboxing
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateMounts=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
# needed to load wg module for kernel-mode WireGuard
ProtectKernelModules=no
ProtectKernelTunables=no
ProtectSystem=yes
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target

